node_modules/
coverage
.DS_Store
lerna-debug.log
npm-debug.log
packages/*/lib
packages/*/.next
storybook-static
packages/*/coverage
packages/*/dist
packages/*/node_modules
*.serverless_nextjs
npm-debug.log*
dist
!packages/__tasks/dist
packages/__tasks/src/*/__files/dist
packages/*/.env
*.log
*.cache
yarn-error.log
packages/*/.rpt2_cache
packages/*/.rts2_cache*
.next
.idea
*.env
*.env**
draft*
.yarn
.rpt2_cache
.vercel

.yalc/
yalc.lock
.vscode
