@peracto:registry=https://ninexb.jfrog.io/artifactory/api/npm/peracto-npm-prod-local/
//ninexb.jfrog.io/artifactory/api/npm/peracto-npm-prod-local/:_password=QUtDcDVlazhDY3pWYzRUU2pETWRmQjQ5eHNvWWhiRjhVb0JyZTU4eHFQeTk5RWg3QXBvWUoyZ2NFQUZaaVdTUmtuMWdkYnBDRw==
//ninexb.jfrog.io/artifactory/api/npm/peracto-npm-prod-local/:username=rbooth
//ninexb.jfrog.io/artifactory/api/npm/peracto-npm-prod-local/:email=r.booth@9xb.com
//ninexb.jfrog.io/artifactory/api/npm/peracto-npm-prod-local/:always-auth=true

@peracto-library:registry=https://ninexb.jfrog.io/artifactory/api/npm/peracto-npm-prod-local/
//ninexb.jfrog.io/artifactory/api/npm/peracto-npm-prod-local/:_password=QUtDcDVlazhDY3pWYzRUU2pETWRmQjQ5eHNvWWhiRjhVb0JyZTU4eHFQeTk5RWg3QXBvWUoyZ2NFQUZaaVdTUmtuMWdkYnBDRw==
//ninexb.jfrog.io/artifactory/api/npm/peracto-npm-prod-local/:username=rbooth
//ninexb.jfrog.io/artifactory/api/npm/peracto-npm-prod-local/:email=r.booth@9xb.com
//ninexb.jfrog.io/artifactory/api/npm/peracto-npm-prod-local/:always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=FEB8975F-CE68-4FB1-8E40-D4CE4774B0EA
